<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CD - Carrito</title>
    <!--Bootstrap CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!--CSS Lineawesome-->
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <!--Font CDN-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
    <!--CSS Primario-->
    <link href="../css/primary.css" rel="stylesheet" />
  </head>
  <body>
    <!--Navbar sticky-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-red text-end sticky-top">
      <a class="navbar-brand text-center my-auto ms-3" href="../index.html"
        ><i class="lab la-the-red-yeti la-2x">C D</i></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse row text-center"
        id="navbarNavDropdown"
      >
        <div class="navbar-nav">
          <a class="nav-item nav-link col col-sm my-auto" href="../index.html"
            >Inicio</a
          >
          <a
            class="nav-item nav-link col col-sm my-auto"
            href="virtual-store.html"
            >Tienda Virtual</a
          >
          <a class="nav-item nav-link col col-sm my-auto" href="about-us.html"
            >Conocenos</a
          >
          <a
            class="nav-item nav-link col col-sm active"
            href="shopping-cart.html"
            ><i class="las la-shopping-cart la-2x"></i
          ></a>
        </div>
      </div>
    </nav>
    <!--Contenido Principal-->
    <h3
      class="text-center weight-bold bg-red text-white h-text-spacing my-3 py-1 mx-4"
    >
      CARRITO DE COMPRA
    </h3>
    <!--Table-->
    <div class="mx-5 my-5">
      <!--Table Head-->
      <div class="row border-bottom border-secondary d-none d-md-flex">
        <div class="col-6 text-start">
          <span class="weight-bold">PRODUCTOS</span>
        </div>
        <div class="col text-end">
          <span class="weight-bold">PRECIO</span>
        </div>
        <div class="col text-end">
          <span class="weight-bold">UNIDADES</span>
        </div>
        <div class="col text-end">
          <span class="weight-bold">TOTAL</span>
        </div>
      </div>
      <!--Row 1-->
      <div class="row border-bottom border-secondary py-3">
        <div class="col-6 text-start">
          <div class="row">
              <div class="col-4">
                <img src="../img/salame-thumbnail.jpg" class="img-fluid" alt="salame-thumbnail.jpg">
              </div>
              <div class="col">
                <ul>
                  <li>Salame</li>
                  <li>Formato: 1kg</li>
                  <li><a href="">Quitar</a></li>
                </ul>
              </div>
          </div>
        </div>
        <div class="col text-end align-self-center">$xxx</div>
        <div class="col text-end align-self-center"><input type="number" name="units" id="units" class="small-input" value="1"></div>
        <div class="col text-end align-self-center">$xxx</div>
      </div>
      <!--Row 2-->
      <div class="row border-bottom border-secondary py-3">
        <div class="col-6 text-start">
          <div class="row">
              <div class="col-4">
                <img src="../img/salame-thumbnail.jpg" class="img-fluid" alt="salame-thumbnail.jpg">
              </div>
              <div class="col">
                <ul>
                  <li>Chorizo</li>
                  <li>Formato: 1kg</li>
                  <li><a href="">Quitar</a></li>
                </ul>
              </div>
          </div>
        </div>
        <div class="col text-end align-self-center">$xxx</div>
        <div class="col text-end align-self-center"><input type="number" name="units" id="units" class="small-input" value="1"></div>
        <div class="col text-end align-self-center">$xxx</div>
      </div>
      <!--Row 3-->
      <div class="row py-3 weight-bold ">
        <div class="col offset-8 text-end align-self-center">SUBTOTAL:</div>
        <div class="col text-end align-self-center">$xxx</div>
      </div>
      <!--Row 4-->
      <div class="row mt-3">
        <div class="col offset-9 text-end"><a class="btn btn-primary bg-red mt-auto shadow-none me-auto" href="../index.html">Finalizar Compra</a></div>
      </div>
    </div>
    <!--Footer dividido en 3 columnas-->
    <footer class="bg-red">
      <hr />
      <div class="row text-center mt-3">
        <div class="col align-top">
          <div class="row">
            <ul>
              <li>
                <a class="navbar-brand text-center my-auto" href="../index.html"
                  ><i class="lab la-the-red-yeti la-2x">C D</i></a
                >
              </li>
              <li class="text-white">¡Seguinos!</li>
              <li>
                <a href="https://www.instagram.com" class="col"
                  ><i class="lab la-instagram la-2x"></i
                ></a>
                <a href="https://twitter.com/?lang=es" class="col"
                  ><i class="lab la-twitter la-2x"></i
                ></a>
                <a href="https://es-la.facebook.com" class="col"
                  ><i class="lab la-facebook la-2x"></i
                ></a>
                <a href="https://ar.linkedin.com" class="col"
                  ><i class="lab la-linkedin-in la-2x"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col text-start text-white">
          <ul>
            <li class="border-bottom">Contacto</li>
            <li>
              <i class="lab la-whatsapp la-2x align-middle"></i> +543413333333
            </li>
            <li>
              <i class="las la-envelope la-2x align-middle"></i>
              charcuteria@gmail.com
            </li>
            <li>
              <i class="las la-map-marker la-2x align-middle"></i> Calle
              Generica N°123
            </li>
          </ul>
        </div>
        <div class="col text-start text-white">
          <ul>
            <li class="border-bottom me-3">Legales</li>
            <li>Aviso Legal</li>
            <li>Términos y Condiciones</li>
            <li>Política de Privacidad</li>
            <li>Política de Cookies</li>
          </ul>
        </div>
      </div>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
      ></script>
    </footer>
  </body>
</html>
